.cabecalho-menu-hamburguer{
    width:40px;
    height:40px;
    background-image:url("../img/Menu\ Aberto.png");
    display:inline-block;
    background-repeat:no-repeat;
    background-position:center;
}

.cabecalho{
    background-color:var(--cor-do-texto);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.container{
    display: flex;
    align-items: center;
}

.container-imagem{
    padding:1em;
}

.lista-menu{
    display:none;
    position:absolute;
    top:100%;
    width:60 vw;
}
.lista-menu-titulo,.lista-menu-item{
    padding:1em;
    background-color:rgb(131, 219, 253)}

.container-botao:checked ~.lista-menu{
    display:block;
}

.lista-menu-link{
    background-color:var(--links);
    -webkit-background-clip:text;
    -webkit-text-fill-color:rgb(0, 30, 44);
    background-clip:text;
    text-transform:uppercase;
    text-decoration:none;
}

.container-botao{
    display:none;
}